<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aasc.solvecase"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".subject_screens.SecondYearSubjectsBiotech"></activity>
        <activity android:name=".FileListScreen2" />
        <activity android:name=".subject_screens.SecondYearSubjectsECE" />
        <activity android:name=".subject_screens.FirstYearBiotechSubjects" />
        <activity android:name=".OptionsScreen" />
        <activity android:name=".StreamSelector" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".OptionsScreen" />
        <activity android:name=".Test" />
        <activity android:name=".ViewActivity" />
        <activity
            android:name=".FundamentalsofComputer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BasicMathsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SdfActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PhysicsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ESActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".YouTubePlayerActivity" />
        <activity
            android:name=".MathsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SecondYearActivity" />
        <activity android:name=".FirstYearActivity" />
        <activity android:name=".VideoLecturesActivity" />
        <activity
            android:name=".ContactPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KnowDevelopers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subject_screens.FirstYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subject_screens.SecondYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileListScreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ_HfxeZxS2BN-_WA3KvjyWfuYHbpnU1k" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3032703257692497~5775345050" />
    </application>

</manifest>