<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aasc.solvecase"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.aasc.solvecase.FundamentalsofComputer"></activity>
        <activity android:name="com.aasc.solvecase.BasicMathsActivity" />
        <activity android:name="com.aasc.solvecase.SdfActivity" />
        <activity android:name="com.aasc.solvecase.PhysicsActivity" />
        <activity android:name="com.aasc.solvecase.ESActivity" />
        <activity android:name="com.aasc.solvecase.YouTubePlayerActivity" />
        <activity android:name="com.aasc.solvecase.MathsActivity" />
        <activity android:name="com.aasc.solvecase.SecondYearActivity" />
        <activity android:name="com.aasc.solvecase.FirstYearActivity" />
        <activity android:name="com.aasc.solvecase.VideoLecturesActivity" />
        <activity
            android:name="com.aasc.solvecase.ContactPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.KnowDevelopers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aasc.solvecase.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.FirstYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.SecondYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aasc.solvecase.FileListScreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ_HfxeZxS2BN-_WA3KvjyWfuYHbpnU1k" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3032703257692497~5775345050" />
    </application>

</manifest>