<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.axactstudios.solvecase"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.axactstudios.solvecase.study_material.DigitalCircuitDesign" android:theme="@style/AppTheme" ></activity>
        <activity android:name="com.axactstudios.solvecase.study_material.AnalogAndDigitalCommunication" android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.DigitalSystem" android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.DigitalSignalProcessing" android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.OperatingSystem" android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.AlgorithmsAndProblemSolving" android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.Probability" android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.study_material.EsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.study_material.PhysicsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.study_material.MathsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.study_material.SDFActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.study_material.SecondYearStudyMaterial" />
        <activity android:name="com.axactstudios.solvecase.study_material.FirstYearStudyMaterial" />
        <activity android:name="com.axactstudios.solvecase.YearActivity" />
        <activity android:name=".subject_screens.YearActivity" />
        <activity android:name="com.axactstudios.solvecase.subject_screens.SecondYearSubjectsBiotech" />
        <activity android:name="com.axactstudios.solvecase.FileListScreen2" />
        <activity android:name="com.axactstudios.solvecase.subject_screens.SecondYearSubjectsECE" />
        <activity android:name="com.axactstudios.solvecase.subject_screens.FirstYearBiotechSubjects" />
        <activity android:name="com.axactstudios.solvecase.OptionsScreen" />
        <activity android:name="com.axactstudios.solvecase.StreamSelector" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".Test" />
        <activity android:name="com.axactstudios.solvecase.ViewActivity" />
        <activity
            android:name="com.axactstudios.solvecase.FundamentalsofComputer"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.BasicMathsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.SdfActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.PhysicsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.axactstudios.solvecase.ESActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.YouTubePlayerActivity" />
        <activity
            android:name="com.axactstudios.solvecase.MathsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.axactstudios.solvecase.SecondYearActivity" />
        <activity android:name="com.axactstudios.solvecase.FirstYearActivity" />
        <activity android:name="com.axactstudios.solvecase.VideoLecturesActivity" />
        <activity
            android:name="com.axactstudios.solvecase.ContactPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.KnowDevelopers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.SignupActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.axactstudios.solvecase.WebViewActivity" />
        <activity
            android:name="com.axactstudios.solvecase.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.axactstudios.solvecase.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.subject_screens.FirstYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.subject_screens.SecondYearSubjects"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.axactstudios.solvecase.FileListScreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ_HfxeZxS2BN-_WA3KvjyWfuYHbpnU1k" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3032703257692497~5775345050" />
    </application>

</manifest>